
    @{
        Layout = "_Layout";
    }

<h2><b>Welcome and let's make some planning:))</b></h2>
    <br/>
<h3>@Html.ActionLink("See all To-dos", "Index", "Items") </h3>
<h3>@Html.ActionLink("See all categories", "Index", "Categories")</h3>

    
    