
    @{
        Layout = "_Layout";
    }

<h2><b>Welcome and let's make some planning:))</b></h2>
    <br/>
<h4>@Html.ActionLink("See all To-dos", "Index", "Items") </h4>
<h4>@Html.ActionLink("See all categories", "Index", "Categories")</h4>
<h4>@Html.ActionLink("See all tags", "Index", "Tags")</h4>

    
    