@{
    Layout = "_Layout";
}

@model ToDoList.Models.Item;
<h3><b>Do you really want to delete this To-do?</b></h3>

<h2>@Html.DisplayFor(model => model.Description)</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Yes!"/>
}
<hr/>

<h6>@Html.ActionLink("Back to the list", "Index")</h6>