@{
    Layout = "_Layout";
}

@model ToDoList.Models.Tag;
<h3><b>Do you really want to delete this tag?</b></h3>

<h2>@Html.DisplayFor(model => model.Title)</h2>

@using (Html.BeginForm())
{
        <input type="submit" value="Yes!"/>
}
<hr/>

<h6>@Html.ActionLink("Back to the list", "Index")</h6>